<% if params[:user_id].present? %>
  <% @page_title = @user.display_name + "の注文履歴" %>
<% else %>
<% @page_title = "注文履歴" %>
<% end %>
<h1><%= @page_title %></h1>

<div class="toolbar">
  <%= link_to "ユーザー情報", admin_user_path(params[:user_id]) %>
</div> 

<% if @order_items.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>注文ID</th>
        <th>商品注文ID</th>
        <th>販売者ID</th>
        <th>購入者ID</th>
        <th>注文日時</th>
        <th>注文商品</th>
        <th>数量</th>
        <th>価格（税込）</th>
        <th>配送状況</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |oi| %>
          <tr>
            <td><%= oi.order.id %></td>
            <td><%= oi.id %></td>
            <td><%= link_to oi.item.user_id, admin_user_path(oi.item.user) %></td>
            <td><%= link_to oi.order.user_id, admin_user_path(oi.order.user) %></td>
            <td><%= oi.order.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
            <td><%= link_to oi.item.name, admin_item_path(oi.item) %></td>
            <td><%= oi.quantity %></td>
            <td><%= oi.price %></td>
            <!-- <td><%= oi.delivery %></td> -->
            <td><%= I18n.t("enums.order_item.delivery.#{oi.delivery}") %></td>
            <td>
              <%= link_to "編集", edit_admin_order_item_path(oi)%> |
              <%= link_to "詳細", admin_order_item_path(oi)%>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>注文履歴はありません。</p>
<% end %>