<table class="attr">
  <!--
  <tr>
    <th>プロフィール画像</th>
    <td>
      <%# if @user.profile_picture.attached? %>
        <%#= image_tag @user.profile_picture.variant(resize:"128x128") %>
      <%# end %>
    </td>
  </tr>
  -->
  <tr>
    <th width="150">ユーザー番号</th>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th>姓</th>
    <td><%= @user.family_name %></td>
  </tr>
  <tr>
    <th>名</th>
    <td><%= @user.given_name %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <th>ビジネスネーム</th>
    <td><%= @user.business_name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @user.phonenumber %></td>
  </tr>
  <tr>
    <th>ユーザー種別</th>
    <td><%= @user.seller? ? "出品者" : "購入者" %></td>
  </tr>
</table>
