<nav class="menubar">
    <ul class="menubar">
      <%= menu_link_to "TOP", :root %>

      <%= form_tag :search_items, method: :get, class: "search-container" do %>
        <%= text_field_tag "q", params[:q], placeholder: "検索..." %>
        <%= submit_tag "検索",class: "search-button" %>
      <% end %>

      <% if current_user %>
        <ul class="account-menu">
        <%= menu_link_to current_user.full_name + "さん", :account %>
        <%= menu_link_to "ログアウト", :admin_session,
            method: :delete, data: { confirm: "ログアウトしますか？" } %>
        </ul>
      <% else %>
        <%= menu_link_to "ログイン", :login %>
      <% end %>
      <%#= menu_link_to "マイページ(管理者)", "#" %>
      <%= menu_link_to "管理者TOP", :admin_root %>
      <%= menu_link_to "アカウント管理", :admin_users %>
      <%= menu_link_to "注文管理", :admin_orders %>
      <%= menu_link_to "問い合わせ管理", :admin_rooms %>
      <%= menu_link_to "商品管理", :admin_items %>
      <%= menu_link_to "レビュー管理", :admin_reviews %>
      <%= menu_link_to "カテゴリ管理", :admin_categories %>
    </ul>
</nav>