<nav class="menubar">
    <ul>
      <%= menu_link_to "TOP", :root %>
      <!--<%= form_with(url: '#', method: :get, local: true) do %>
        <%= text_field_tag :q, '', placeholder: 'Search...' %>
        <%= submit_tag 'Search' %>-->

      <%= form_tag :search_items, method: :get, class: "search" do %>
        <%= text_field_tag "q", params[:q], placeholder: "商品検索..." %>
        <%= submit_tag "検索" %>
        <% end %>
      <% end %>
      <% if current_user %>
        <ul class="account-menu">
        <%= menu_link_to current_user.full_name + "さん", :account %>
        <%= menu_link_to "ログアウト", :session,
            method: :delete, data: { confirm: "ログアウトしますか？" } %>
        </ul>
      <% else %>
        <%= menu_link_to "ログイン", :login %>
      <% end %>
      <% if !admin? %>

      <%= menu_link_to "お気に入り", favorites_users_path %>
      <%= menu_link_to "注文履歴", :orders %>
      <%= menu_link_to "マイページ", :account %>
      
        <% if current_user&.seller? %>
          <%= menu_link_to "出品者TOP", :seller_root %>
        <% elsif current_user&.buyer? || !login? %>
          <%= menu_link_to "カート(#{current_cart&.cart_items&.sum(:quantity) || 0})", :cart %>
        <% end %>
      <% end %>
    </ul>
</nav>