<%= render "shared/errors", obj: @user %>
<table class="attr">
  <tr>
    <th width="150"><%= form.label :number, "ユーザー番号" %></th>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th><%= form.label :family_name, "姓" %></th>
    <td><%= form.text_field :family_name %></td>
  </tr>
  <tr>
    <th><%= form.label :given_name, "名" %></th>
    <td><%= form.text_field :given_name %></td>
  </tr>
  <tr>
    <th><%= form.label :full_name, "氏名" %></th>
    <td><%= form.text_field :full_name %></td>
  </tr>
  <% if !current_user&.admin? %>
    <tr>
      <th><%= form.label :business_name, "ビジネスネーム" %></th>
      <td><%= form.text_field :business_name %></td>
    </tr>
  <% end %>
  <tr>
    <th><%= form.label :email, "メールアドレス" %></th>
    <td><%= form.text_field :email %></td>
  </tr>
  <tr>
    <th><%= form.label :address, "住所" %></th>
    <td><%= form.text_field :address %></td>
  </tr>
  <tr>
    <th><%= form.label :phonenumber, "電話番号" %></th>
    <td><%= form.text_field :phonenumber %></td>
  </tr>
  <% if !current_user&.admin? %>
    <% if params[:type] == "seller" %>
      <tr>
        <th><%= form.label :status, "ユーザー種別" %></th>
        <td><%= form.hidden_field :status, value: "seller" %>出品者</td>
    </tr>
    <% elsif params[:type] == "buyer" %>
      <tr>
        <th><%= form.label :status, "ユーザー種別" %></th>
        <td><%= form.hidden_field :status, value: "buyer" %>購入者</td>
      </tr>
    <% else %>
      <tr>
        <th><%= form.label :status, "ユーザー種別" %></th>
        <td><%= form.select :status, User.statuses.keys.map { |status| [I18n.t("enums.user.status.#{status}") , status] } %></td>
      </tr>
    <% end %>
  <% end %>
    <% if @user.new_record? %>
      <tr>
        <th><%= form.label :password, "パスワード" %></th>
        <td><%= form.text_field :password %></td>
      </tr>
    <% end %>
</table>
