<% @page_title = "会員情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "会員の詳細に戻る", [:admin,@admin] %></div>

<%= form_for [:admin,@admin] do |form| %>
  <%= render "admin/admins/admin_form", form: form %>
  <div><%= form.submit %></div>
<% end %>