<% @page_title = "ショッピングカート" %>

  <div class="cart-container">
    <div class="cart-items">
    <h1>ショッピングカート</h1>
      <% @cart_items&.each do |ci| %>
        <div class="cart-item">
          <div class="item-image">
            <% if ci.item.item_picture.attached? %>
            <%= image_tag ci.item.item_picture.variant(resize: "100x100") %>
            <% end %> 
          </div>
          <div class="item-details">
            <h3 class="item-title"><%= link_to ci.item.name, ci.item %></h3>
            <div class="item-quantity">
            
            <span><%= ci.quantity %></span>
            
            <%= link_to "削除", ci, method: :delete, data: { confirm: "削除しますか？" } %> 
          </div>
          </div>
          <div class="item-price">
            <span><%= currency%><%= ci.item.price %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cart-total">
      <%# if @cart_items.present? %>
        <h3>小計 (<%= @cart_items.sum(:quantity) || 0%>個の商品)(税込)</h3>
        <div class="total-price">
          <span>: <%= currency%><%= current_cart.price %></span>
        </div>
        <%= form_with url: order_confirm_path, local: true do |form| %>
          <% @cart_items.each do |ci| %>
            <%= form.hidden_field :item_id, value: ci.id %> 
            <%= form.hidden_field :quantity, value: ci.quantity %>
            <%= form.hidden_field :price, value: ci.price %>
          <% end %> 
          <%= form.submit "レジに進む", class: "buy-button" %>
        <% end %>
      <%# else %>
        <!--<p>カートに商品がありません</p>-->
      <%# end %>
    </div>
  </div>