<% @page_title = "出品商品情報の新規登録" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "出品商品の一覧に戻る", items_path %></div>

<%= form_for [@item] do |form| %>
  <%= render "shared/item_form", form: form %>
  <div><%= form.submit %></div>
<% end %>