<% @page_title = "カテゴリ管理" %>
<h1><%= @page_title %></h1>

<div class="toolbar">
<%= link_to "カテゴリの新規登録",new_admin_category_path %>
</div>

<% if @categories.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>カテゴリ名</th>
        <th>登録日</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr>
          <td style="text-align: left"><%= c.id %></td>
          <td><%= link_to c.category_name, admin_category_path(c) %></td>
          <td><%= c.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td>
          <%= link_to "編集", [:edit, :admin,c] %> |
          <%= link_to "削除", [:admin,c], method: :delete,
                  data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= paginate @categories %>
<% else %>
  <p>カテゴリ情報がありません。</p>
<% end %>