<% @page_title = "カテゴリ情報の新規登録" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "カテゴリ一覧に戻る", admin_categories_path %></div>

<%= form_for [:admin,@category] do |form| %>
  <%= render "admin/categories/c_form", form: form %>
  <div><%= form.submit %></div>
<% end %>