<% @page_title = "一般会員管理" %>
<h1><%= @page_title %></h1>

<%= form_tag :search_admin_users, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= radio_button_tag 'status', 'seller', params[:status] == 'seller' %>
  <%= label_tag "出品者" %>
  <%= radio_button_tag 'status', 'buyer', params[:status] == 'buyer' %>
  <%= label_tag "購入者" %>
  <%= radio_button_tag 'status', "null", params[:status].nil? || params[:status] == 'null' %>
  <%= label_tag "指定なし" %>
  <%= submit_tag "検索" %>
<% end %>

<div class="toolbar">
<%= link_to "管理者アカウントの管理", admin_admins_path %> |
<%#= link_to "会員の新規登録","#" %>
</div>

<% if @users.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>ビジネスネーム</th>
        <th>メールアドレス</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>ユーザー種別</th>
        <th>登録日</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td style="text-align: left"><%= user.id %></td>
          <td><%= link_to user.full_name, [:admin,user] %></td>
          <td><%= user.business_name %></td>
          <td><%= user.email %></td>
          <td><%= user.address %></td>
          <td><%= user.phonenumber %></td>
          <td><%= user.seller? ? "出品者" : "購入者" %></td>
          <td><%= user.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td>
          <%#= link_to "編集", [:edit, :admin,user] %> 
          <%= link_to "削除", [:admin,user], method: :delete,
                  data: { confirm: "本当に削除しますか?" } %>|
          <%= link_to "レビュー", [:admin,user,:reviews] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
<% else %>
  <p>会員情報がありません。</p>
<% end %>