<%= render "shared/errors", obj: @review %>

<table class="attr">
  <tr>
    <th width="80"><%= form.label :rating %></th>
    <td><%= form.select :rating, [["★★★★★", 5], ["★★★★", 4], ["★★★", 3], ["★★", 2], ["★", 1]] %></td>
  
  </tr>
  <tr>
    <th><%= form.label :body %></th>
    <td><%= form.text_area :content, rows: 10, cols: 45 %></td>
  </tr>
</table>
