<% @page_title = "レビューの新規作成" %>
<h1><%= @page_title %></h1>

    <div class="cart-item">
        <div class="item-image">
            <% if @item.item_picture.attached? %>
            <%= image_tag @item.item_picture.variant(resize: "100x100") %>
            <% end %> 
        </div>
        <div class="item-details">
            <h3 class="item-title"><%= link_to @item.name, @item %></h3>
        </div>
    </div>

<% if @item.reviews.find { |review| review.user_id == current_user.id } %>
    <p>この商品にはすでにレビューを投稿しています。</p>
<% else %>
    <%= form_for [@item,@review] do |form| %>
    <%= render "form", form: form %>
    <div><%= form.submit %></div>
    <% end %>
<% end %>