<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    
      <header>
        <%= render "shared/header" %>
      </header>
      <div id = "container">
      <aside id = "sidebar">
        <%= render "shared/sidebar" %>
      </aside>
      <main id="main-content">
        <% if flash.notice %>
          <p class="notice"><%= flash.notice %></p>
          <% end %>
        <%= yield %>
      </main>
      </div>
      <footer>
        <%= render "shared/footer" %>
      </footer>
  </body>
</html>
